src/main/resources/loan.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/LoanEligibilityService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoanEligibilityService" targetNamespace="http://www.example.org/LoanEligibilityService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/LoanEligibilityService/">
      <xsd:element name="getLoanEligibility">
        <xsd:complexType>
          <xsd:sequence>

          	<xsd:element name="LoanEligibilityRequest" type="tns:LoanEligibilityRequestType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getLoanEligibilityResponse">
        <xsd:complexType>
          <xsd:sequence>

          	<xsd:element name="LoanEligibilityResponse" type="tns:LoanEligibilityResponseType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="LoanEligibilityRequestType">
      	<xsd:sequence>
      		<xsd:element name="amount" type="xsd:double"></xsd:element>
      		<xsd:element name="tenure" type="xsd:double"></xsd:element>
      		<xsd:element name="dob" type="xsd:date"></xsd:element>
      		<xsd:element name="gender" type="xsd:string"></xsd:element>
      		<xsd:element name="annualSalary" type="xsd:double"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="LoanEligibilityResponseType">
      	<xsd:sequence>
      		<xsd:element name="eligibilityCode" type="xsd:string"></xsd:element>
      		<xsd:element name="eligibilityMessage" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getLoanEligibilityRequest">
    <wsdl:part element="tns:getLoanEligibility" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getLoanEligibilityResponse">
    <wsdl:part element="tns:getLoanEligibilityResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="LoanEligibilityService">
    <wsdl:operation name="getLoanEligibility">
      <wsdl:input message="tns:getLoanEligibilityRequest"/>
      <wsdl:output message="tns:getLoanEligibilityResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoanEligibilityServiceSOAP" type="tns:LoanEligibilityService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getLoanEligibility">
      <soap:operation soapAction="http://www.example.org/LoanEligibilityService/getLoanEligibility"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanEligibilityService">
    <wsdl:port binding="tns:LoanEligibilityServiceSOAP" name="LoanEligibilityServiceSOAP">
      <soap:address location="http://trng.imcs.LoanEligibilityService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>